*{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
    
}

header{
    background-color: #3B44F6;
    min-height: 30vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

main{
    background-color: #3EC70B;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;

}


nav{
    background-color: #F7EC09;
    min-height: 10vh;
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3rem;
    font-weight: 200;
}

.banner{
    width: 70%;
    height: 400px;
    margin: auto;
    align-items: center;
    background-size: 100% 100%;
    animation: banner 10s infinite;

}

@keyframes banner {
    0%, 20% {
        background-image: url(../assets/design1_image2.jpg);
    }
    25%, 45% {
        background-image: url(../assets/hockey1.jpg);
    }
    50%, 70% {
        background-image: url(../assets/hockey2.jpg);
    }
    75%, 100% {
        background-image: url(../assets/hockey3.jpg);
    }

}

nav a{
    text-decoration: none;
    color: white;
    background-color: rgb(121, 121, 214);
    border: 2px solid black;
    width: 11rem;
    height: 3.5rem;
    padding: 0.8rem;
    display: inline-block;
    text-align: center;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.412);
    border-radius: 1rem;
    transition: all 0.5s;

}


.active{
    background-color: green;
    color: white;

}

a:hover{
    transform: scale(1.0) rotate(5deg);
    background-color: green;
    color: white;

}


.subtitle{
    text-align: center;
    border: 2px solid black;

}

section{
    width: 800px;
    height: 200px;
    display: block;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.412);

}

article{
    width: 400px;
    height: 100px;
    display: block;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.412);

}

table {
    background-color: #A149FA;
    width: 60vw;
    height: 30vh;
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: 6px;
    color: rgb(0, 0, 0);
    font-size: 20px;


}

th,
td {
    border: 1px solid black;
    
}

td {
    padding: 10px;
}

.gameInformation{
    display: flex;
    flex-direction: column;
}

address{
    display: flex;
    justify-content: space-between;
}

ul{
    list-style-type:circle;
    margin: 20px;
}

ol{
    margin: 20px;
    padding: 10px;
}

.listas{
    padding: 20px;
    margin: 20px;
}

.lista-abc{
    list-style-type:lower-alpha;
}

dt{
    font-size: large;
}

form{
    border: 2px solid white;
    border-radius: 1rem;
    background-color: #A149FA;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 700px;
    justify-content: space-evenly;
    align-items: center;

}

fieldset{
    padding: 0.5rem;
    border-radius: 1rem;
    gap: 0.5rem;
}

legend{
    padding: 0.2rem;
}

.check-radio{
    list-style: none;
}

.school ,.positions , .uniform{
    display: flex;
}

input[type="submit"]{
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: black;
        background-color: green;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;

}
      
input[type="submit"]:hover {
    background-color: rgb(121, 121, 214) ;
}
